Source: node-subarg
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Bastien Roucariès <rouca@debian.org>
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs
 , node-minimist <!nocheck>
 , node-tape <!nocheck>
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/js-team/node-subarg
Vcs-Git: https://salsa.debian.org/js-team/node-subarg.git
Homepage: https://github.com/substack/subarg
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-subarg
Architecture: all
Depends: ${misc:Depends}
 , node-minimist
Description: parse arguments with recursive contexts
 This Node.js module allow one to parse command line like argument
 recursively, thus allowing subarguments.
 .
 This module is therefore useful for passing argument to
 submodules or plugins.
 .
 Node.js is an event-based server-side JavaScript engine.
